In [18]:
import pandas as pd 
import numpy as np

In [19]:
df1 = pd.read_csv(r"E:\coding\CSV\video game\PS4_GamesSales.csv",header=0, encoding='unicode_escape')
df2 = pd.read_csv(r"E:\coding\CSV\video game\XboxOne_GameSales.csv",header=0, encoding='unicode_escape')

In [20]:
df1

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80
...,...,...,...,...,...,...,...,...,...
1029,Fallen Legion: Flames of Rebellion,NaN,Role-Playing,NaN,0.00,0.00,0.00,0.00,0.00
1030,Radial G Racing Revolved,2017.0,Racing,Tammeka Games,0.00,0.00,0.00,0.00,0.00
1031,The Mummy Demastered,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1032,Project Nimbus: Code Mirai,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
1033,Battle Chef Brigade,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00

In [21]:
df1.dropna(inplace= True)

In [22]:
list1 = df1["Genre"].unique()
list1.sort(axis=-1)
list1

array(['Action', 'Action-Adventure', 'Adventure', 'Fighting', 'MMO',
       'Misc', 'Music', 'Party', 'Platform', 'Puzzle', 'Racing',
       'Role-Playing', 'Shooter', 'Simulation', 'Sports', 'Strategy',
       'Visual Novel'], dtype=object)

In [23]:
list2 = df2["Genre"].unique()
list2.sort(axis=-1)
list2

array(['Action', 'Action-Adventure', 'Adventure', 'Fighting', 'MMO',
       'Misc', 'Music', 'Platform', 'Puzzle', 'Racing', 'Role-Playing',
       'Shooter', 'Simulation', 'Sports', 'Strategy', 'Visual Novel'],
      dtype=object)

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 825 entries, 0 to 1030
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           825 non-null    object
 1   Year           825 non-null    float64
 2   Genre          825 non-null    object
 3   Publisher      825 non-null    object
 4   North America  825 non-null    float64
 5   Europe         825 non-null    float64
 6   Japan          825 non-null    float64
 7   Rest of World  825 non-null    float64
 8   Global         825 non-null    float64
dtypes: float64(6), object(3)
memory usage: 64.5+ KB

In [25]:
df1["Year"].value_counts()

Year
2017.0    254
2016.0    222
2015.0    172
2014.0     98
2018.0     39
2013.0     20
2019.0     12
2020.0      8
Name: count, dtype: int64

In [26]:
df1["Genre"].value_counts()

Genre
Action              205
Role-Playing        107
Shooter              75
Adventure            71
Sports               69
Misc                 55
Racing               48
Action-Adventure     38
Platform             33
Fighting             32
Strategy             25
Simulation           21
Music                18
Puzzle               10
MMO                   8
Visual Novel          8
Party                 2
Name: count, dtype: int64

In [27]:
df1.sort_values(by=["Year","Global"],ascending=[True,False], inplace=True)

genre_df1 = df1.groupby(["Year"])
# genre_df1.head(50)
genre_df1["Global"].max()

Year
2013.0     4.17
2014.0    19.39
2015.0    15.09
2016.0    10.94
2017.0    13.40
2018.0    13.94
2019.0     0.00
2020.0     0.00
Name: Global, dtype: float64

In [28]:
df1 = df1[(df1["Year"] != 2019) & (df1["Year"] != 2020)]
df1 = df1[(df1["North America"] != 0) & (df1["Europe"] != 0) & (df1["Japan"] != 0) & (df1["Rest of World"] != 0)]

In [29]:
genre_df1 = df1.groupby(["Year"])
genre_df1["Global"].max()

Year
2013.0     4.17
2014.0    19.39
2015.0    15.09
2016.0    10.94
2017.0    13.40
2018.0    13.94
Name: Global, dtype: float64

In [30]:
df1

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
30,Call of Duty: Ghosts,2013.0,Shooter,Activision,1.79,1.64,0.05,0.69,4.17
38,Battlefield 4,2013.0,Shooter,Electronic Arts,1.40,1.74,0.19,0.62,3.94
43,FIFA Soccer 14,2013.0,Sports,EA Sports,0.62,2.18,0.12,0.51,3.43
51,Assassin's Creed IV: Black Flag,2013.0,Action-Adventure,Ubisoft,1.07,1.55,0.06,0.51,3.19
55,Killzone: Shadow Fall,2013.0,Shooter,Sony Computer Entertainment,0.89,1.58,0.08,0.47,3.02
...,...,...,...,...,...,...,...,...,...
280,Naruto to Boruto: Shinobi Striker,2018.0,Action,Bandai Namco Games,0.19,0.03,0.02,0.05,0.29
289,Secret of Mana,2018.0,Role-Playing,Square Enix,0.06,0.12,0.05,0.04,0.28
292,Bravo Team VR,2018.0,Shooter,Sony Interactive Entertainment,0.12,0.09,0.02,0.04,0.27
320,Metal Gear Survive,2018.0,Action,Konami Digital Entertainment,0.08,0.06,0.05,0.03,0.23
323,Attack on Titan 2,2018.0,Action,Koei Tecmo,0.09,0.04,0.06,0.03,0.22

In [31]:
df1.to_csv(r"E:\coding\python module\PS4_gamesales.csv")

In [32]:
df2.sort_values(by=["Year","Global"],ascending=[True,False], inplace=True)
df2

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
21,22,Call of Duty: Ghosts,2013.0,Shooter,Activision,1.92,0.86,0.00,0.28,3.07
29,30,Forza Motorsport 5,2013.0,Racing,Microsoft Studios,1.28,0.90,0.01,0.21,2.40
31,32,Assassin's Creed IV: Black Flag,2013.0,Action,Ubisoft,1.51,0.59,0.00,0.22,2.32
34,35,Battlefield 4,2013.0,Shooter,Electronic Arts,1.26,0.65,0.00,0.19,2.09
47,48,Dead Rising 3,2013.0,Action,Microsoft Studios,1.06,0.40,0.01,0.15,1.63
...,...,...,...,...,...,...,...,...,...,...
595,596,De-formers,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
596,597,Wonder Boy: The Dragon's Trap (Remake),NaN,Platform,NaN,0.00,0.00,0.00,0.00,0.00
597,598,Rock of Ages II: Bigger and Boulder,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
598,599,Fe,NaN,Action,NaN,0.00,0.00,0.00,0.00,0.00
602,603,The Sexy Brutale,NaN,Adventure,NaN,0.00,0.00,0.00,0.00,0.00

In [33]:
df2.dropna(inplace= True)
df2

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
21,22,Call of Duty: Ghosts,2013.0,Shooter,Activision,1.92,0.86,0.00,0.28,3.07
29,30,Forza Motorsport 5,2013.0,Racing,Microsoft Studios,1.28,0.90,0.01,0.21,2.40
31,32,Assassin's Creed IV: Black Flag,2013.0,Action,Ubisoft,1.51,0.59,0.00,0.22,2.32
34,35,Battlefield 4,2013.0,Shooter,Electronic Arts,1.26,0.65,0.00,0.19,2.09
47,48,Dead Rising 3,2013.0,Action,Microsoft Studios,1.06,0.40,0.01,0.15,1.63
...,...,...,...,...,...,...,...,...,...,...
612,613,Code Vein,2019.0,Action,Bandai Namco Entertainment,0.00,0.00,0.00,0.00,0.00
447,448,Killer Instinct,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.00,0.00,0.00
464,465,Whore of the Orient,2020.0,Misc,Warner Bros. Interactive Entertainment,0.00,0.00,0.00,0.00,0.00
474,475,Halo 6,2020.0,Shooter,Microsoft Game Studios,0.00,0.00,0.00,0.00,0.00
482,483,Black Tusk Studios Game,2020.0,Misc,Microsoft Game Studios,0.00,0.00,0.00,0.00,0.00

In [34]:
df2 = df2[(df2["Year"] != 2019) & (df2["Year"] != 2020)]
df2 = df2[(df2["North America"] != 0) & (df2["Europe"] != 0) & (df2["Japan"] != 0) & (df2["Rest of World"] != 0)]

In [35]:
genre_df2 = df2.groupby(["Year"])
# genre_df2.head(50)
genre_df2["Global"].max()

Year
2013.0    2.40
2014.0    8.72
2015.0    7.37
2016.0    5.13
2017.0    1.52
Name: Global, dtype: float64

In [36]:
df2

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
29,30,Forza Motorsport 5,2013.0,Racing,Microsoft Studios,1.28,0.90,0.01,0.21,2.40
47,48,Dead Rising 3,2013.0,Action,Microsoft Studios,1.06,0.40,0.01,0.15,1.63
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
5,6,Call of Duty: Advanced Warfare,2014.0,Shooter,Activision,3.25,1.49,0.01,0.48,5.22
15,16,Halo: The Master Chief Collection,2014.0,Shooter,Microsoft Studios,2.06,1.04,0.03,0.31,3.44
20,21,Titanfall,2014.0,Shooter,Electronic Arts,1.88,0.91,0.04,0.28,3.11
45,46,Far Cry 4,2014.0,Shooter,Ubisoft,0.85,0.68,0.02,0.14,1.68
55,56,Forza Horizon 2,2014.0,Racing,Microsoft Studios,0.56,0.79,0.01,0.11,1.46
58,59,Middle-Earth: Shadow of Mordor,2014.0,Action,Warner Bros. Interactive Entertainment,0.77,0.52,0.01,0.12,1.42
112,113,Kinect Sports Rivals,2014.0,Sports,Microsoft Studios,0.30,0.25,0.02,0.05,0.62
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
7,8,Fallout 4,2015.0,Role-Playing,Bethesda Softworks,2.94,1.62,0.02,0.45,5.03
8,9,Halo 5: Guardians,2015.0,Shooter,Microsoft Studios,2.94,1.49,0.03,0.45,4.92
10,11,Star Wars Battlefront (2015),2015.0,Shooter,Electronic Arts,2.49,1.26,0.02,0.38,4.15
36,37,Forza Motorsport 6,2015.0,Racing,Microsoft Studios,0.90,0.92,0.04,0.16,2.02
44,45,The Witcher 3: Wild Hunt,2015.0,Role-Playing,Namco Bandai Games,0.97,0.61,0.01,0.15,1.74
50,51,Rise of the Tomb Raider,2015.0,Adventure,Square Enix,0.61,0.82,0.03,0.12,1.58
53,54,Dying Light,2015.0,Action,Warner Bros. Interactive Entertainment,1.01,0.31,0.01,0.14,1.47
65,66,Battlefield: Hardline,2015.0,Shooter,Electronic Arts,0.73,0.39,0.01,0.11,1.24
84,85,Metal Gear Solid V: The Phantom Pain,2015.0,Action,Konami Digital Entertainment,0.49,0.25,0.02,0.07,0.83
88,89,Rare Replay,2015.0,Misc,Microsoft Studios,0.42,0.27,0.01,0.07,0.78
267,268,Dead or Alive 5,2015.0,Fighting,Tecmo Koei,0.05,0.03,0.01,0.01,0.10
6,7,Battlefield 1,2016.0,Shooter,Electronic Arts,3.37,1.26,0.02,0.48,5.13
11,12,Forza Horizon 3,2016.0,Racing,Microsoft Studios,1.64,1.96,0.02,0.32,3.93
69,70,Final Fantasy XV,2016.0,Role-Playing,Square Enix,0.72,0.30,0.01,0.11,1.14
92,93,Quantum Break,2016.0,Action,Microsoft Studios,0.42,0.25,0.02,0.07,0.76
177,178,ReCore,2016.0,Action-Adventure,Microsoft Studios,0.16,0.06,0.01,0.02,0.26
52,53,Forza Motorsport 7,2017.0,Racing,Microsoft Studios,0.58,0.81,0.01,0.12,1.52

In [37]:
df2.to_csv(r"E:\coding\python module\Xbox_gamesales.csv")